<div id="user-info">
  <h1>
  <% if current_user.eql?(@user) %>
    <%= turbo_frame_tag "user-avatar", class: "upload-icon-container" do %>
      <span class="upload-icon">✏️</span>
      <%= link_to image_tag(url_for(@user.avatar), class: "profile-photo"), edit_user_path, class: "profile-photo" %>
    <% end %>
  <% else %>
    <%= image_tag(@user.avatar_url, class: "profile-photo")%>
  <% end %>
  <%= turbo_frame_tag "user-name" do %>
    <%= @user.name %> |
    <% if current_user.eql?(@user) %>
        <%= link_to tag.div("Edit", class: "button edit-button"), edit_user_path %>
    <% else %>
      <%= turbo_frame_tag "#{dom_id(@user)}_follow" do %>
        <%= render "users/follow", user_id: @user.id %>
      <% end %>
    <% end %>
  <% end %>
  </h1>
  <h2><%= @user.email%></h2>
  <h2 id="bio-text">
  <%= turbo_frame_tag "user-bio" do %>
    <% if current_user.eql?(@user) %>
      <%= link_to tag.div("Edit Bio", class: "button edit-button"), edit_user_path %>
      <br>
    <% end %>
    <%= @user.bio %>
  <% end %>
  </h2>
</div>
<br><h2>Posts:</h2>
<%= render(@posts) || tag.h3("No posts yet!") %>
