<h1>
<%= turbo_frame_tag "user-header" do %>
  <%= @user.name %> |
  <% if current_user.eql?(@user) %>
      <%= link_to tag.div("Edit", class: "button edit-button"), edit_user_path %>
  <% else %>
    <%= turbo_frame_tag "#{dom_id(@user)}_follow" do %>
      <%= render "users/follow", user_id: @user.id %>
    <% end %>
  <% end %>
<% end %>
</h1>
<h2><%= @user.email%></h2>
<br><h2>Posts:</h2>
<%= render @posts %>
