<p><%= link_to post.user.email, post.user %> @ <%= post.created_at.to_fs(:long) %></p>
<p><%= post.body %></p>
<p><%= pluralize(post.likes.count, 'like') %></p>
<%= render "comments/new", post_id: post.id %>
<div data-controller="item-section">
  <p> Comments: <button data-action="item-section#toggle" class="show-hide-button">Show/Hide</button></p>
  <%= turbo_frame_tag "#{dom_id(post)}_comments", "data-item-section-target": "items" do %>
    <%= render post.comments %>
  <% end %>
</div>
<br>

